Repository rstkey/ssz: changes, and which Codecov flags are due for each by the changed paths.
All: ssz, sszgen

github, scripts: minor tweaks all around
  .github/workflows/tests.yml
  scripts/fuzz.sh
Due: none

github: bump codecov to hopefully fix comments
  .github/workflows/tests.yml
Due: none

ssz: add IPA_PROOF_DEPTH to commonBytesArrayLength (#8)
  generics.go
Due: ssz

ssz: add support for uint8 fields (#10)
  README.md
  cmd/sszgen/opset.go
  codec.go
  decoder.go
  encoder.go
  hasher.go
Due: ssz, sszgen

tests: pull in basic container tests to cover uint8 (#11)
  tests/consensus_specs_test.go
  tests/testtypes/consensus-spec-tests/gen_bits_struct_ssz.go
  tests/testtypes/consensus-spec-tests/gen_single_field_test_struct_ssz.go
  tests/testtypes/consensus-spec-tests/types_basics.go
Due: none

github, tests: generate coverage for sszgen from test suite (#13)
  .github/workflows/tests.yml
  tests/testtypes/consensus-spec-tests/types_basics.go
  tests/testtypes/consensus-spec-tests/types_consensus.go
  tests/testtypes/consensus-spec-tests/types_variation.go
Due: none

ssz: add support for uint16/32 primitive types (#15)
  README.md
  cmd/sszgen/opset.go
  codec.go
  decoder.go
  encoder.go
  hasher.go
  tests/consensus_specs_test.go
  tests/testtypes/consensus-spec-tests/gen_fixed_test_struct_ssz.go
  tests/testtypes/consensus-spec-tests/gen_small_test_struct_ssz.go
  tests/testtypes/consensus-spec-tests/types_basics.go
Due: ssz, sszgen

fix: modify readme
  README.md
Due: ssz

Path conditions:
  ssz: any of: *
  sszgen: any of: cmd/sszgen/**
